<!DOCTYPE html>
<html ng-app="MyApp1">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css"
          href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="body" ng-controller="MyController">
<hr/>

<div ng-include="'form-add-field.template.html'"></div>

<script src="../../../node_modules/angular/angular.js"></script>
<script src="app.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>
