<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css"
          href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="body" ng-controller="MyController">
<hr/>
<label>Select A Movie:</label>

<div>
    {{selectedCar}}
    <c-dropdown ng-model="selectedCar" options="cars"></c-dropdown>
</div>
<div>
    {{selectedCar}}
    <c-dropdown ng-model="selectedCar" options="cars"></c-dropdown>
</div>
<script src="../node_modules/angular/angular.js"></script>
<script src="app.js"></script>
<script src="components/c-dropdown/c-dropdown.module.js"></script>
<script src="components/c-dropdown/c-dropdown.directive.js"></script>
</body>
</html>
